@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.section-header{
    background-color: #e8be9f;
}
.pricing-card.pricing-popular {
    background-color: #f0f0f0;
}

.pricing-card,.pricing-card.border-2 {
    border-color: #f2c9a9;
}

.button-primary{
    background-color: #ff6f00;
}
.button-ghost{
    box-shadow: inset 0 0 0 4px #f2c9a9;
}

.button-ghost-text {
    color: #ff6f00;
}

.ultra-big-fat-paragraph.no-margin-bottom {
    margin-bottom: 25px;
}

.footer{
    background-color: #e8be9f;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer h1{
    color: #fff;
    padding: 1rem;
    font-family: 'Allison', cursive;
    font-size: 5em;
}

.footer p{
    color: #fff;
    margin-top: 1.5rem;
}